@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  background-color: rgba(185, 187, 192, 0.658);
}
.ant-input-group-addon button {
  -webkit-appearance: button;
  background-color: gray;
  background-image: none;
}

.ant-card-head-title {
  color: rgb(26 86 219) !important;
}

.ant-spin-container {
  overflow-y: scroll;
  max-height: 66vh;
}
em {
  color: #f59e0b;
  font-weight: 700;
}
